@font-face {
    font-family: "sundown-mediu";
    src: url(./Fonts/NeueHaasDisplay-Mediu.ttf);
}

@font-face {
    font-family: "sundown-roman";
    src: url(./Fonts/NeueHaasDisplay-Roman.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sundown-mediu", sans-serif;
    text-decoration: none;
}




html,
body {
    height: 100%;
    width: 100%;

}




a {
    color: black;
}


.loader {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    transition: all ease 1s;
    z-index: 1111;
}


.loader h1 {
    position: absolute;
    background: linear-gradient(to right, #FF9831, #FE330A);
    font-size: 7vw;
    opacity: 0;
    animation-name: loader-anime;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 1s;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



.loader h1:nth-child(2) {
    animation-delay: 2s;
}

.loader h1:nth-child(3) {
    animation-delay: 3s;
}

.main {
    position: relative;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0vw 2vw;
    background-color: #EFEAE3;
}

.nav-part1 {
    padding: 3vw 0vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}


.nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid rgba(170, 165, 165, 0.61);
    border-radius: 50px;
    font-family: "sundown-roman", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgb(61, 60, 60);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.nav-part2 h4 a {
    position: relative;
    z-index: 9;
    text-decoration: none;
    color: rgb(61, 60, 60);
}

.nav-part2 h4::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.3s;

}

.nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-part2 h4:hover a {
    color: white;
}

.center {
    height: 65vh;
    width: 100%;
    border-bottom: 1px solid rgba(51, 50, 50, 0.678);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2.5vw;
}

.center .left h3 {
    width: 25vw;
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 2vw;

}

.center .right h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: end;
    font-weight: 900;
}

.page1 .sundown-vid {
    width: 100%;
    border-radius: 40px;
    margin-top: 4vw;
    position: relative;
}

.hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 75vh;

}

.hero1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FD3F19;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);

}

.hero2 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    background: linear-gradient(#FD3F19, #fd5a19);
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;


}

.hero3 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    background: linear-gradient(#FD3F19, #fd5a19);
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

}


.page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0vw;
    position: relative;
    background-color: #EFEAE3;
}

.moving-text {
    white-space: nowrap;

}

.moving-text::-webkit-scrollbar {
    display: none;
}

.text-container {
    white-space: nowrap;
    display: inline-block;
    animation: text-move 10s linear infinite;
}

.moving-text h1 {
    font-size: 9vw;
    display: inline-block;

}

.orange-logo {
    height: 3.65vw;
    width: 3.65vw;
    border-radius: 50%;
    background-color: #FD3F19;
    display: inline-block;
    margin: 1vw 2vw;
}


.page2-bottom {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5vw;
    position: relative;
    z-index: 9;
}

.page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

.page2-bottom-part2 {
    width: 20%;
}

.page2-bottom-part2 img {
    width: 100%;
    border-radius: 15px;

}

.page2-bottom-part2 p {
    font-weight: 400;
    font-family: "sundown-roman", sans-serif;
    margin-top: 2vw;
}

.page2-circle {
    position: absolute;
    height: 32vw;
    width: 32vw;
    border-radius: 50%;
    background: linear-gradient(to top right, #f0310b, #fd6d19);
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation: circle-anime 6s ease-in-out infinite alternate;

}


.page3 {
    min-height: 100vh;
    width: 100%;
    padding: 4vw 0vw;
    background-color: #EFEAE3;
}


.page3 .sec {
    display: flex;
    gap: 0.5vw;
    padding: 3vw 2vw;
    align-items: center;
    font-family: "sundown-roman";
    font-weight: 400;
}



.orange-gol {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #FE330A;
}

.sec p {
    font-size: 1vw;

}


.elem {
    height: 150px;
    width: 100%;
    border-bottom: 1px solid rgba(95, 94, 94, 0.541);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #FF9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem:hover .overlay {
    top: 0;
}

.elem:hover {

    cursor: pointer;
}


.all-projects {
    padding: 3vw 2vw;
}


.all-projects .navbut {
    display: flex;

}

.navbut h4 {
    border: 1px solid #917e78dc;
    margin: 0 7px;
    border-radius: 50px;
    padding: 13px 21px;
    position: relative;
    overflow: hidden;
    transition: all ease 0.3s;
}

.navbut h4 a {
    color: black;
    z-index: 9;
    position: relative;
    font-size: 1vw;
    font-family: "sundown-roman";
    font-weight: 700;

}

.navbut h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.navbut h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.navbut h4:hover a {
    color: white;
}

.fixed-image {
    height: 30vw;
    width: 24vw;
    border-radius: 10px;
    position: fixed;
    z-index: 9999;
    top: 25%;
    left: 50%;
    display: none;
    background-size: cover;
    background-position: center;
}

.page4 {
    min-height: 150vh;
    max-width: 100vw;
    padding: 6vw 0vw;
    overflow: hidden;
    background-color: #EFEAE3;
}

.black-box {
    height: 110vh;
    margin: 0vw 2vw;
    background-color: black;
    border-radius: 21px;
    display: flex;
    align-items: center;
}

.black-box .tab-section {
    color: #EFEAE3;
    display: flex;
    flex-direction: column;
    padding: 0 9vw;
    gap: 14px;
}


.tabs {
    position: relative;
    border-left: 2px solid #504A45;
    padding-left: 2vw;
}


.tab-section h2 {
    font-family: sun-mediu;
    font-size: 4.5vw;
    font-weight: bolder;
    position: relative;
    cursor: pointer;
    transition: right 0.3s ease-in-out;
}

.tab-section h2 a {
    position: relative;
    color: #504A45;
    transition: color 0.3s ease-in-out;
}


.black-box img {
    width: 60%;
    height: 100%;
    background-size: cover;
    border-radius: 20px;
}

.page4 .section2 {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding: 8vw 6vw 0vw;
}

.section2 p {
    font-family: "sundown-roman";
    font-weight: 400;
    font-size: 1vw;
}


.swiper {
    width: 100%;
    min-height: 35vh;
    padding: 5vw 6vw;
    cursor: grab;
}

.swiper-slide {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    gap: 25px;
    border-left: 1px solid #a39e9783;
    height: auto;
    min-height: 35vh;

}

.swiper-slide img {
    display: inline-block;
    position: relative;
    width: 51%;
    object-fit: cover;
}

.swiper-slide p {
    width: 79%;
    color: #2a2929f4;
    font-size: 1.08vw;
    font-family: "sundown-roman";
    font-weight: 300;
}

.swiper-slide {
    width: 30%;
}



.page5 {
    height: 116vh;
    width: 100vw;
    overflow: hidden;
    background: transparent;

}

.footer {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: #EFEAE3;
    bottom: 0;
    z-index: -1;
}


.footer .footer-shape1 {
    position: absolute;
    background-color: #FE330A;
    top: -50%;
    left: -20%;
    width: 90%;
    height: 90%;
    filter: blur(50px);
    animation: footer-anime1 3s linear infinite alternate;

}


.footer .footer-shape2 {
    position: absolute;
    background-color: #FE330A;
    top: -27%;
    right: -27%;
    width: 70%;
    height: 90%;
    filter: blur(50px);
    animation: footer-anime2 4s linear infinite alternate;

}

.footer-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 6.2vw 5.7vw;
}

.footer-upper-elements h2 {
    font-size: 2.1vw;
    font-weight: 700;
}


.footer-upper-email {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 26%;
}

.footer-upper-email p {
    font-size: 1.3vw;
    font-weight: 400;
    font-family: "sundown-roman";
}

.footer-upper-email h6 {
    font-size: 1.2vw;
    font-weight: 200;
    font-family: "sundown-roman";
    padding-bottom: 0.5vw;
    border-bottom: 1px solid #d3cdc1df;
    color: #d3cdc1df;
}

.footer-lower {
    position: relative;
    padding: 0vw 1.5vw;
}

.footer-lower img {
    margin-top: 5vw;
    padding-bottom: 2vw;
    width: 100%;
    border-bottom: 1px solid #504A45;
}

.footer-lower .footer-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 0vw;
}


.footer-end h5 {
    font-family: "sundown-roman";
    font-weight: 300;
    font-size: 1.1vw;
}






@keyframes anime1 {
    from {
        transform: translate(55%, -2%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}


@keyframes text-move {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}



@keyframes circle-anime {
    from {

        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

@keyframes footer-anime1 {
    from {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(-20deg);
    }
}

@keyframes footer-anime2 {
    from {
        transform: rotate(30deg);
    }

    to {
        transform: rotate(45deg);
    }
}

@keyframes loader-anime {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
